.header {
	padding: 32px 0;

	@media (max-width: 768px) {
		padding: 20px 0;
	}

	@media (max-width: 480px) {
		padding: 16px 0;
	}

	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__left {
		display: flex;
		align-items: center;
		gap: 20px;
	}
}

.menu {
	&__list {
		display: flex;
		align-items: center;
		gap: 6px;
		transition: all 0.2s ease-in-out;
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 6px;
		color: var(--color-bg);
		font-size: 14px;
		cursor: pointer;
		padding: 6px;
		border-radius: 6px;
		background-color: var(--color-accent);
		transition: 0.2s all ease-in-out;

		&--active {
			background-color: var(--color-bg);
			outline: 1px solid var(--color-accent);
			color: var(--color-accent);
		}
	}
}
.logo {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 28px;
	line-height: 28px;
	font-weight: 600;
	color: var(--color-text-add);

	&::before {
		content: "flow state";
		position: absolute;
		top: -8px;
		left: 52px;
		font-size: 10px;
		font-weight: 400;
		color: var(--color-text);
		transition:
			opacity 0.2s ease-in-out,
			transform 0.2s ease-in-out;
	}

	& svg {
		color: var(--color-accent);
	}

	& svg path {
		fill: currentColor;
		transition: none;
	}
}

.theme-trigger {
	display: flex;
	align-items: center;
	gap: 6px;
	color: var(--color-text);
	font-size: 14px;
	cursor: pointer;
	padding: 10px 12px;
	border-radius: 6px;
	background-color: var(--color-mode-bg);
	transition: color 0.2s ease-in-out;

	&:hover {
		color: var(--color-letter-correct);

		svg {
			fill: var(--color-letter-correct);
		}
	}

	& svg {
		transition: fill 0.2s ease-in-out;
	}
}

.theme-dropdown {
	background: var(--color-mode-bg);
	border-radius: 6px;
	padding: 4px 6px;
	min-width: 220px;
	margin-top: 20px;
	z-index: 100;
}

.theme-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 6px;
	border-radius: 6px;
	font-size: 14px;
	color: var(--color-text);
	cursor: pointer;
	outline: none;
	transition:
		background 0.15s ease-in-out,
		color 0.15s ease-in-out;

	&:hover {
		background: var(--color-bg);
		color: var(--color-letter-correct);
	}

	&--active {
		color: var(--color-accent);
	}
}

.theme-dots {
	display: flex;
	gap: 6px;
	padding: 6px;
	border-radius: 100px;
}

.theme-dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}

.session--active {
	.logo {
		color: var(--color-text);

		&::before {
			opacity: 0;
			visibility: 0;
		}

		& svg {
			color: var(--color-text);
		}
	}

	.menu__list {
		opacity: 0;
		visibility: hidden;
	}
}
